# Python bytecode
**/__pycache__/
**/*.py[cod]

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# Local development settings and files
.settings/
db.sqlite3

# Media and static files
media/
static/
vol/
.vol/

# Log files
*.log

# System-specific files
.DS_Store
Thumbs.db

# IDE and editor directories
.idea/
.vscode/

# Version control directories
.git/
.hg/
.svn/

# Node modules (if applicable)
node_modules/
