# Ignore Python bytecode files
**/__pycache__/
**/*.py[cod]

# Ignore virtual environment directories
venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

# Ignore local development settings and files
.settings/
db.sqlite3  # Ignore local SQLite database

# Ignore media and static files generated during development or runtime
media/
static/
vol/
vol/
.vol/

# Ignore log files
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE and editor specific files
.idea/          # PyCharm project files
.vscode/        # Visual Studio Code project files

# Ignore version control directories
.git
.hg
.svn

# Ignore node_modules (assuming you have a frontend project with Node.js)
node_modules/
