# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.eggs/
*.sqlite3

# Django
*.log
*.pot
*.pyc
*~
staticfiles/
local_settings.py
db.sqlite3
/media

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Docker
*.swp
.vol
docker-compose.override.yml
.env

# Build directories
build/
dist/
coverage/
