Django==4.2.14  # Updated to the latest LTS version
djangorestframework==3.14.0  # Updated to the latest version
psycopg2-binary>=2.8.6,<2.9
drf-spectacular==0.24.1  # Updated to the latest version
Pillow==9.5.0  # Updated to a newer version
django-cors-headers
django-extensions==3.2.3
coverage>=5.5
flake8>=3.9.2
black>=21.5b1
mypy>=0.812
isort>=5.8.0
django-debug-toolbar>=3.2.1
djangorestframework-simplejwt>=5.3.1
